#fixed-footer  {
	width:100%;
    background-color: #ed1b2f;
    padding:10px;
    color: #fff;
}

#fixed-footer p {
	margin:0px;
}

#fixed-footer a {
	color: #fff;
}

#fixed-footer img {
	margin-left: 10px;
	height: 25px;
	width: 25px;
}